@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our bulky book</h1>
    <p>You can Manage your Product here &nbsp;&nbsp; <a asp-action="Index" asp-controller="Category" class="btn btn-success">Categories</a></p>
</div>
